
  <table class="Table">
    <thead class="Table-header">
      <tr class="Table-rowHeader">
        <th class="Table-itemHeader">Id</th>
        <th class="Table-itemHeader">Nombre</th>
        <th class="Table-itemHeader">Apellido</th>
        <th class="Table-itemHeader">Email</th>
        <th class="Table-itemHeader">Tipo de Documento</th>
        <th class="Table-itemHeader">N.Documento</th>
        <th class="Table-itemHeader">Sexo</th>
        <th class="Table-itemHeader">Activo</th>
        <th class="Table-itemHeader">Ciudad</th>
        <th class="Table-itemHeader">Departamento</th>
        <th class="Table-itemHeader">Pais</th>
      </tr>
    </thead>
    <tbody class="Table-body">
      <tr class="Table-rowBody" ng-repeat="item in vm.arreglo">
        <td class="Table-itemBody">{{item.id}}</td>
        <td class="Table-itemBody">{{item.name}}</td>
        <td class="Table-itemBody">{{item.lastName}}</td>
        <td class="Table-itemBody">{{item.email}}</td>
        <td class="Table-itemBody">{{item.idDocumentsType.description}}</td>
        <td class="Table-itemBody">{{item.numdocument}}</td>
        <td class="Table-itemBody">{{item.sex}}</td>
        <td class="Table-itemBody">{{item.active}}</td>
        <td class="Table-itemBody">{{item.idCities.description}}</td>
        <td class="Table-itemBody">{{item.idCities.idDepartaments.description}}</td>
        <td class="Table-itemBody">{{item.idCities.idDepartaments.idCountries.description}}</td>

        <td class="Table-itemBody"><a ui-sref="usuarios-update({idUsuario:item.id})">actualizar</a></td>
      </tr>
    </tbody>
  </table>
