.Footer
  background-color #2E2E2E
  color white
  padding-bottom 17px

.About-us
  display inline-block
  width 30%
  text-align center
  vertical-align top

.Social-networks
  display inline-block
  width  40%
  text-align center

.Icon-social
   padding 12px

 .A-copy
  color #fff
  font-size 15px
  text-decoration none

 .Copyright
    display inline-block
    width 28%
    text-align center
    vertical-align top

  .C-Copyright
     text-align center
     vertical-align top

  .C-co1
    margin 0px!important

/*RESPONSIVE FOOTER*/
@media screen and (max-width 800px)
  .About-us, .Social-networks, .Copyright
    width 100%
