<section id="Contactenos"class="Footer">
<div class="About-us">
    <h4>Contácto</h4>
    <p><i  class="fa fa-whatsapp"> Teléfono: 3157827260</i><br><i class="fa fa-envelope-o"> Email: SGEDI@hotmail.com </i><br><i class="fa fa-edge"> Web: www.DesarrolloSGEDI.com</i></p>
  </div>

  <div class="Social-networks">
    <h4>Siguenos en nuestras redes sociales:</h4>
    <div class="Footer-icon-social">
      <a target="_blank" href="https://www.youtube.com/?spfreload=5"><img class="Icon-social"src="assets/images/Iconos-footer/youtube.png" ></a>
      <a target="_blank" href="https://twitter.com/?lang=es"><img class="Icon-social"src="assets/images/Iconos-footer/twitter.png"  ></a>
      <a target="_blank" href="https://www.facebook.com/"><img class="Icon-social"src="assets/images/Iconos-footer/facebook.png" ></a>
    </div>

  <section class="C-Copyright">
  <div class="C-co">
    <p class="C-co1"></a>&copy; Copyrights 2017 DESARROLLO SGEDI | Todos los derechos reservados.</p>
  </div>
</section>
    </div>

  <div class="Copyright">
  <h4>Politica De La Plataforma</h4>
  <a class="A-copy"href="#">Conoce Nuestras Politicas Aqui</a>

</div>
</section>
