	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DesarrolloSGEDI</a>
    </div>
		<!--menu-->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="Inicio" ng-click="vm.ocultarCollapse()">Home</a></li>
        <li><a href="#About Us" ng-click="vm.ocultarCollapse()">About Us</a></li>
        <li><a href="#Our Services" ng-click="vm.ocultarCollapse()">Our Services</a></li>
        <li><a href="#Contact Us" ng-click="vm.ocultarCollapse()">Contact Us</a></li>
      </ul>
			<form class="navbar-form navbar-left">
      <div class="form-group ">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="vm.AuthService.logout()" href="#"ng-click="vm.ocultarCollapse()"><span class="fa fa-sign-out"></span> logout</a></li>
				<li><a ui-sref="usuarios-create"ng-click="vm.ocultarCollapse()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="login"ng-click="vm.ocultarCollapse()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
