<slideshow class="snow"></slideshow>

<!--SLIDE -->
<section class="imagesnow"></section>

<!-- First Parallax Image with Logo Text -->
<div id="Home" class="Parallax-1 view intro hm-white-light jarallax" data-jarallax='{"speed": 0.2}'>
	<div class="full-bg-img ">
		<div class="container">
			<div class="Container-flex d-flex align-items-center d-flex justify-content-center">
				<div class="row mt-5">
					<div class="col-md-12 wow fadeIn mb-3">
						<div class="intro-info-content text-center">
							<h1 class="Parallax-1-title display-1 mb-2 wow fadeInDown w3-wide " data-wow-delay="0.3s">WELCOME TO
								<a class="indigo-text font-bold"> DESARROLLO SGEDI</a></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container (About Section) -->
<div class="About container" id="About Us">
	<h3 class="text-center">ABOUT US</h3>
	<p class="w3-center"><em>Document Management System</em></p>
	<p>
		SGDI is a document management platform that gives public and private companies a wide range of tools and aids for easy management of all your documents.
	</p>
	<div class="row">
		<div class="About-logo-div col-md-6">
			<img src="assets/images/logotipo.png" class=" About-logo w3-hover-opacity-off" alt="Logo" >
		</div>

		<!-- Hide this text on small devices -->
		<div class="About-devices col m6 w3-hide-small">
			<p>
				SGEDI Allows companies to control the creation, storage, revision and distribution of documents, increasing the efficiency in the ability to reuse information; As well as controlling the flow of documents. It integrates everything essential for document
				management, collaboration between users and advanced search functionality, in one easy-to-use solution. The application includes administrative tools to define the roles of the different users, quotas for each user, security at the document level,
				a complete log of activity and the configuration of automatic tasks.
			</p>
		</div>
	</div>
	<p class="Benefices">You will get the following benefits: </p> <!--obtendras los siguientes beneficios-->
	<p class="Benefices-wide"><i class="fa fa-key"></i>Protection on your documents</p>
	<div class="Benefices-wide-barr">
		<div class="container Benefices-container-100">100%</div>
	</div>
	<p class="Benefices-wide"><i class="fa fa-laptop"></i>Access from any device</p>
	<div class="Benefices-wide-barr">
		<div class="container Benefices-container-100">100%</div>
	</div>
	<p class="Benefices-wide"><i class="fa fa-database"></i>Save your information in our database</p>
	<div class="Benefices-wide-barr">
		<div class="container Benefices-container-100">100%</div>
	</div>
	<p class="Benefices-wide"><i class="fa fa-area-chart"></i>High data consumption</p>
	<div class="Benefices-wide-barr">
		<div class="Benefices-container-90">90%</div>
	</div>
	<p class="Benefices-wide"><i class="fa fa-credit-card"></i>Very high prices</p>
	<div class="Benefices-wide-barr">
		<div class="Benefices-container-80">80%</div>
	</div>
	<p class="Benefices-wide"><i class="fa fa-firefox"></i>Incompatibility with browsers</p>
	<div class="Benefices-wide-barr">
		<div class="Benefices-container-70">70%</div>
	</div>
</div>

<div class="row Benefices-barr-row">
	<div class="w3-quarter Benefices-barr-section">
		<span class="Benefices-barr-text">14+</span><br> Online managed documents
	</div>
	<div class="w3-quarter Benefices-barr-section">
		<span class="Benefices-barr-text">55+</span><br> Projects Done
	</div>
	<div class="w3-quarter Benefices-barr-section">
		<span class="Benefices-barr-text">89+</span><br> Documents stored on our servers
	</div>
	<div class="w3-quarter Benefices-barr-section">
		<span class="Benefices-barr-text">150+</span><br> Happy Clients
	</div>
</div>
</div>

<!-- Second Parallax Services -->
<div id="Our Services" class="Parallax-2 view intro hm-white-light jarallax">
	<div class="full-bg-img">
		<div class="container">
			<div class="Container-flex-2 d-flex align-items-center d-flex justify-content-center">
				<div class="row mt-5">
					<div class="col-md-12 wow fadeIn mb-3">
						<div class="intro-info-content text-center" >
							<h1 class="Parallax-2-title display-1 mb-2 wow fadeInDown" data-wow-delay="0.3s">Our
							<a class="indigo-text font-bold"> Services</a></h1></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<!--Grid row-->
	<div class="row">
		<!--Grid column-->
		<div class="col-md-12 text-center my-3">
			<h1 class="font-bold grey-text mb-3">¿Why Use Our Services?</h1>
			<!-- First Photo Grid-->
 <div class="Photo-grid row">
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-img"src="assets/images/img-main/6.jpeg" alt=Photo1 class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>Accelerate Your Business</b></p>
			 <p>
				<li>Approves Documents From The Mobile</li>
 				<li>Reduce Time Inverted In Managing Your Documents</li>
 				<li>Decrease Paper Usage</li>
			 </p>
		 </div>
	 </div>
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-img"src="assets/images/img-main/5.jpeg" alt="Photo2" class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>A Simple Tool for a Complex Reality</b></p>
			 <p>
				<li>Set Your Document Management Fast and Without Complications.</li>
 				<li>Create Your Own Document Types (Not programmed).</li>
 				<li>Find What You Look For Quickly.</li>
 				<li>Organize Your Documents With Simplicity.</li>
 				<li>Access All Your Files From Anywhere..</li>
			 </p>
		 </div>
	 </div>
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-img"src="assets/images/img-main/8.jpeg" alt="photo3"  class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>Your Integrated Document Management Tools</b></p>
			 <p>
			 	<li>Centralize your corporate documents.</li>
			 	<li>Analyze the characteristics of your documents (colors, structures, texts, etc.)</li>
			 	<li>Bring your documents from Dropbox or from the email.</li>
			 	<li>Save yourself costs and infrastructure management.</li>
			 	<li>Forget long and expensive projects.</li>
			 	<li>Easily control access to your documents.</li>
			 	<li>Keep your data protected from hackers and malware,
					we do tests and security audits on a constant basis</li>
			</p>
		 </div>
	 </div>
 </div>

 <!-- Second Photo Grid-->
 <div class="Photo-grid-second row">
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-second-img"src="assets/images/img-main/7.jpeg" alt="Norway" class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>Complex and Insurance</b></p>
			 <p>
				<li>User authentication.</li>
 			 	<li>Share your documents securely.</li>
 			 	<li>Virtual navigation for the contents.</li>
 			 	<li>Preview your documents online.</li>
 			 	<li>Search by type and content.</li>
			 </p>
		 </div>
	 </div>
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-second-img"src="assets/images/img-main/9.jpeg" alt="Norway" class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>Reliability and Protection</b></p>
			 <p>
				<li>Check the status of your documents.</li>
			 	<li>System of notifications to the user.</li>
			 	<li>Web interface.</li>
			 	<li>Document template management.</li>
			 	<li>personalization.</li>
		 </div>
	 </div>
	 <div class="w3-third Photo-grid-container">
		 <img class="Photo-grid-second-img"src="assets/images/img-main/10.jpg" alt="Norway" class="w3-hover-opacity">
		 <div class="Photo-grid-img-text">
			 <p><b>Support and pressure</b></p>
			 <p>
				 <li>Online payment.</li>
 			 	<li>Storage by user.</li>
 			 	<li>Support.</li>
 			 	<li>Product valuation.</li>
			 </p>
		 </div>
	 </div>
 </div>
		</div>
		<!--Grid column-->
	</div>
	<!--Grid row-->
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div id="Contact Us" class="Parallax-3">
  <div class="Parallax-3-content">
     <span class="Parallax-3-tittle">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="Contact-section" id="contact">
  <h3 class="text-center">Where We Are Located</h3>
  <p class="text-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row Contact-row-section">
    <div class="w3-col m4 container">
      <!-- Add Google Maps -->
      <div id="googleMap">
    		<iframe class="Contact-map"frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_3YcYusEOo4R20u3-HvNlOc&key=AIzaSyDirNIx3xWaPsgo09RiIQCZc7h7oRByrFk" allowfullscreen></iframe>
      </div>
    </div>
    <div class="w3-col m8 w3-panel Contact-panel">
      <div class="Contact-icons">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Palmira, Colombia<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +57 3154383764<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: desarrollosgedi@gmail.com<br>
      </div>

      <!--Contact Form-->
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding Form-inputs">
          <div class="w3-half">
            <input class="Form-input-nombre" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="Form-input-email" type="email" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="Form-input-message" type="text" placeholder="Message" required name="Message">
        <button class=" Input-button" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>

