/*Body Styl*/
body,h1,h2,h3,h4,h5,h6
  font-family "Lato", sans-serif

body, html
  height 100%
  color #777
  line-height 1.8
  
/*Parallax Styl*/
.Parallax-1
  background-image url(https://static.pexels.com/photos/33972/pexels-photo.jpg)
  min-height 100%

.Parallax-2
  background-image url(https://static.pexels.com/photos/541525/pexels-photo-541525.jpeg)
  min-height 400px

.Parallax-3
  background-image url(https://static.pexels.com/photos/288477/pexels-photo-288477.jpeg)
  min-height 400px
  position relative

.Parallax-1, .Parallax-2, .Parallax-3
  opacity 0.75
  background-attachment fixed
  background-position center
  background-repeat no-repeat
  background-size cover

.Parallax-1-title
  animation opac 0.8s
  color: #fff!important
  background-color #000!important
  padding 12px 24px!important
  font-size 24px!important

.Parallax-2-title
  animation opac 0.8s
  background-color #000!important
  color #fff!important
  font-size 24px!important
  letter-spacing 4px
  padding 12px 24px!important

.Parallax-3-content
  position absolute
  top 50%
  left 50%
  transform translate(-50%,-50%)

.Parallax-3-tittle
  animation opac 0.8s
  background-color #000 !important
  color #fff !important
  font-size 24px !important
  letter-spacing 4px
  padding 12px 24px !important
  
  /*About Styl*/
.About
  max-width 980px
  margin auto
  padding-top 64px!important
  padding-bottom 64px!important

.About-logo-div
  padding 12px 24px!important
  text-align center!important

.About-logo
  height auto
  opacity 0.60
  max-width 100%

.About-devices
  padding 12px 24px!important

/*Benefices Styl */
.Benefices
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center

.Benefices-wide
  letter-spacing 4px

.Benefices-wide-barr
  color #000!important
  background-color #f1f1f1!important

.Benefices-container-100, .Benefices-container-90, .Benefices-container-80, .Benefices-container-70
  background-color #616161!important
  color #fff!important
  padding 4px 8px!important
  text-align center!important

.Benefices-container-100
  width 100%

.Benefices-container-90
  width 90%

.Benefices-container-80
  width 80%

.Benefices-container-70
  width 70%

.Benefices-barr-row
  background-color #616161!important
  color #fff!important
  padding-top 16px!important
  padding-bottom 16px!important
  text-align center!important

.Benefices-barr-section
  margin-top 16px!important
  margin-bottom 16px!important

.Benefices-barr-text
  font-size 24px!important

.Container-flex
  height 850px

.Container-flex-2
  height 700px

.Photo-grid
  padding 0 8px
  
/*Photo Grid Styl*/
.Photo-grid-container
  margin-bottom 16px!important
  padding 0.01em 16px

.Photo-grid-img
  width 100%

.Photo-grid-img-text
  background-color #fff!important
  color #000!important
  padding 0.01em 16px

.Photo-grid-second
  padding 0 8px

.Photo-grid-second-img
  width 100%

/*Contact Styl*/
.Contact-section
  padding 0.01em 16px
  padding-top 64px!important
  padding-bottom 64px!important
  padding 0.01em 16px
  max-width 980px
  margin auto

.Contact-row-section
  padding-top 32px!important
  padding-bottom 32px!important
  margin-top 16px!important
  margin-bottom 16px!important

.Contact-map
  border 0
  width 100%
  height 400px

.Contact-panel
  margin-top 16px
  margin-bottom 16px
  padding 0.01em 16px

.Contact-icons
  font-size 18px!important
  margin-bottom 16px!important
  
/*Form Styl*/
.Form-inputs
  margin 0 -16px 8px -16px

.Form-input-nombre, .Form-input-email, .Form-input-message
  padding 8px
  display block
  width 100%
  border 1px solid #ccc!important

.Input-button
  background-color #000!important
  border none
  cursor pointer
  color #fff!important
  display inline-block
  float right!important
  margin-top 16px!important
  margin-bottom 16px!important
  outline 0
  overflow hidden
  padding 8px 16px
  text-decoration none
  text-align center
  vertical-align middle
  white-space nowrap

/*RESPONSIVE*/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .Parallax-1, .Parallax-2, .Parallax-3{
        background-attachment: scroll;
    }
}

/* SLIDE */
@media only screen and (max-width: 750px) {
  .snow{
    display: none;
  }
  .imagesnow{
    display: block;
    background-image: url(/assets/images/#1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
