<h3>Usuarios Update</h3>

<form name="userForm" ng-submit="vm.updateUser()">
	<label for="">Tipos Documentos</label>
	<select class="" name="" ng-model="vm.user.idDocumentsType.id">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.tipoDocumento">{{item.description}}</option>
	</select>
	<label for="">Documento</label>
	<input type="text" ng-model="vm.user.numdocument">

<label for="">Apellidos</label>
	<input type="text" ng-model="vm.user.lastName">

	<label for="">Nombres</label>
	<input type="text" ng-model="vm.user.name">

	<label for="">Email</label>
	<input type="text" ng-model="vm.user.email">


	<label for="">Sexo</label>
	<input type="text" ng-model="vm.user.sex">

	<label for="">Paises</label>

	<select name="" id="" ng-model="vm.idCountry" ng-change="vm.getdepartaments()">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.country">{{item.description}}</option>
	</select>

	<label for="">departamentos</label>

	<select name="" id="" ng-model="vm.idDepartaments" ng-change="vm.getCiudades()">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.departamentos">{{item.description}}</option>
	</select>

	<label for="">Ciudades</label>
	<select class="" name="" ng-model="vm.user.idCities.id">
		<option ng-value="{{item.id}}" ng-repeat="item in vm.ciudades">{{item.description}}</option>
	</select>

<button type="submit">Actualizar</button>

</form>
