<!--.container clase de bootstrap que nos da un ancho fijo y determino y nos da una margen igual a la derecha y a la izquierda-->
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-user"></i> Bienvenido Por Favor Registrese <small>It's free!</small></h3>
        </div>
        <div class="panel-body">
          <form role="form" name="Myform" id="Myform" ng-submit="Myform.$valid">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  class="form-control input-sm"
                  type="text"
                  name="name"
                  id="name"
                  maxlength="45"
                  ng-pattern="/^[a-zA-Z]*$/"
                  ng-model="vm.user.name"
                  placeholder="First Name"
                  autofocus
                  required>
                  <span class="alert-danger"
                  ng-show="Myform.name.$error.pattern"> Solo se admiten letras</span>
                  <span class="alert-danger" ng-show="Myform.name.$touched && Myform.name.$invalid">El campo nombre es requerido</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6" >
                <div class="form-group">
                  <input
                  class="form-control input-sm"
                  type="text"
                  name="last_name"
                  id="last_name"
                  maxlength="45"
                  ng-pattern="/^[a-zA-Z]*$/"
                  ng-model="vm.user.lastName"
                  required
                  placeholder="Last Name">
                  <span class="alert-danger help-block"
                  ng-show="Myform.last_name.$error.pattern"> Solo se admiten letras</span>
                  <span class="alert-danger"
                  ng-show="Myform.last_name.$touched && Myform.last_name.$invalid">El campo apellido es requerido</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <select
                  class="form-control input-sm"
                  name=""
                  ng-model="vm.user.idDocumentsType.id">
                  <option
                  ng-value="{{item.id}}"
                  ng-repeat="item in vm.tipoDocumento">{{item.description}}
                </option>
                <option value="" disable selected>Tipo De Documento</option>
                </select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control input-sm"
                  ng-blur="vm.validarNumDocumento()"
                  name="numdocument"
                  id="numdocument"
                  required=""
                  ng-pattern="/^[0-9]/"
                  ng-model="vm.user.numdocument"
                  minlength="5"
                  maxlength="12"
                  placeholder="Numero de documento"
                  required>
                  <span class="alert-danger"
                  ng-show="Myform.numdocument.$error.pattern"> Solo se admiten numeros</span>
                  <span class="alert-danger"
                  ng-show="Myform.numdocument.$touched && Myform.numdocument.$invalid">El numero de documento debe ser valido</span>
                   <span class="alert alert-danger" rol="alert"
                  ng-show="vm.showValidaDocumento">El numero ya se encuentra registrado</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <select
                  class="form-control input-sm"
                  name="genre"
                  ng-model="vm.user.sex">
                  <option class="Create-formOption"value="F">F</option>
                  <option class="Create-formOption"value="M">M</option>
                  <option value="" disabled="" selected=""> Genero</option>
                </select>
              </div>
            </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  class="form-control input-sm"
                  type="text"
                  name="telf"
                  id="telf"
                  required="7"
                  maxlength="12"
                  ng-pattern="/^[0-9]/"
                  ng-model="vm.user.telephone"
                  placeholder="Telephone"
                  required>
                  <span class="alert-danger"
                  ng-show="Myform.telf.$touched && Myform.telf.$invalid">El numero de Telefono debe ser valido</span>
                  <span class="alert-danger"
                  ng-show="Myform.telf.$error.pattern"> Solo se admiten numeros</span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <select
                class="form-control input-sm"
                name=""
                ng-model="vm.user.idDepartaments.id">
                <option
                ng-value="{{item.id}}"
                ng-repeat="item in vm.departamentsList">{{item.description}}
              </option>
              <option value="" disable selected>Departamentos</option>
              </select>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                <select
                class="form-control input-sm"
                name=""
                ng-model="vm.user.idCities.id">
                <option
                ng-value="{{item.id}}"
                ng-repeat="item in vm.ciudad">{{item.description}}
              </option>
              <option value="" disable selected>Ciudad</option>
              </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
              class="form-control input-sm"
              type="email"
              name="email"
              ng-model="vm.user.email"
              placeholder="Email Address"
              required>
              <span class="alert-danger" ng-show="Myform.email.$touched && Myform.email.$invalid">email invalido</span>
            </div>

            <div class="form-group">
              <input
              class="form-control input-sm"
              type="password"
              name="password"
              id="password"
              minlength="8"
              maxlength="20"
              ng-model="vm.user.password"
              placeholder="Password"
              required>
            </div>
            </div>
            <input
            type="submit"
            ng-click="vm.createUser()"
            class="btn btn-info  btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
