.centered-form
	margin-top 60px

.centered-form .panel
	background rgba(255, 255, 255, 0.8)
	box-shadow rgba(0, 0, 0, 0.3) 20px 20px 20px

.alert-danger
	border 1px solid #D8000C
	background-color: #FFBABA
	color #D8000C
	border-radius 3px
	padding 10px
	margin-top 10px
	display block
