<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in</h1>
            <div class="account-wall">
                <img class="profile-img" src="assets/images/imagen-login/user.png" alt="">
                <form class="form-signin" name="loginForm">
                  <div class="form-group">
                    <input
                    class="form-control input-sm"
                    type="email"
                    name="email"
                    id="email"
                    ng-model="vm.user.email"
                    placeholder="Email Address"
                    required
                    autofocus>
                    <span class="alert-danger" ng-show="loginForm.email.$touched && LoginForm.email.$invalid">email invalido</span>
                  </div>
                  <div class="form-group">
                    <input
                    class="form-control input-sm"
                    type="password"
                    name="password"
                    id="password"
                    minlength="4"
                    maxlength="20"
                    ng-model="vm.user.password"
                    placeholder="Password"
                    required>
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid" ng-click="vm.login()" type="submit"> Sign in</button>
                <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me">Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                <a ui-sref ="usuarios-create" class="text-center new-account">Create an account </a>
                </form>
            </div>
        </div>
    </div>
</div>
